body,html {
    height: 100%;
    /* background-color: aqua; */
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("../src/assets/imgs/onepage_restaurant.jpg");
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

h1 {
    text-align: center;
}